@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

:root {
  --blueshade: #020061;
  --grey: #b2b2b2;
}

* { box-sizing: border-box; }
body { margin: 0; padding: 0; font-family: 'Source Sans Pro', system-ui, sans-serif; }
html, body { height: 100%; }
/* You can add global styles to this file, and also import other style files */
